
/*
	Newted CSS
*/


body {
	color: #666;
	font-size: 0.9em;
	line-height: 1.6;
	margin: 0 auto;
	padding: 2.0em;
    font-family: 'Lucida Grande', Helvetica, Arial, serif;
    width: 960px;
	}

a,
a:visited {
	background: transparent;
	color: #333;
	}

a:hover,
a:visited:hover {
	color: #090;
	text-decoration: none;
	}

blockquote {
	background: #EEE;
	margin: 1.0em 2.0em;
	padding: 1.0em;
	}

blockquote > p:last-child {
	margin-bottom: 0;
	}

code {
	background: #DDD;
	padding: 0.3em 0.5em;
	}

.post-edit-link,
.post-edit-link:visited,
#respond a[href*="action=logout"],
#respond a[href*="action=logout"]:visited,
a[href*="action=editcomment"],
a[href*="action=editcomment"]:visited,
a[href*="replytocom="],
a[href*="replytocom="]:visited,
input[type="reset"],
input[type="submit"] {
	background: #AAA;
	border-radius: 0.5em;
	border: none;
	color: #FFF;
	cursor: pointer;
	font-size: 0.8em;
	padding: 0.6em 1.0em;
	text-decoration: none;
	}

#cancel-comment-reply-link,
#cancel-comment-reply-link:visited {
	background: #AAA;
	border-radius: 0.5em;
	border: none;
	color: #FFF;
	cursor: pointer;
	font-size: 0.5em;
	padding: 0.6em 1.0em;
	text-decoration: none;
	}

.post-edit-link:hover,
#respond a[href*="action=logout"]:hover,
#cancel-comment-reply-link:hover,
a[href*="action=editcomment"]:hover,
a[href*="replytocom="]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background: #333;
	color: #FFF;
	}
	
input[type="reset"]:active,
input[type="submit"]:active {
	background: #090;
	}

textarea,
input[type="text"],
input[type="email"],
input[type="url"] {
	color: #333;
	border: 1px solid #AAA;
	border-radius: 0.5em;
	font-size: 0.8em;
	margin-top: 0.5em;
	padding: 0.5em;
	width: 95%;
	}

#searchform input[type="submit"] {
	display: none;
	}

h1,
h2,
h3 {
    font-family: 'Gill Sans', Helvetica, Arial, sans-serif;
	font-weight: normal;
	}

h1 a,
h2 a,
h3 a {
	color: #333;
    font-family: 'Gill Sans', Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-decoration: none;
	}

h3 {
	margin-top: 1.5em;
	}

header {
	padding: 0 0 2.0em 0;
	}

header h1 {
	font-size: 3.5em;
	margin: 0;
	padding: 0;
	}

header h1 a,
header h1 a:visited {
	color: #090;
	}

header h1 a:hover,
header h1 a:visited:hover {
	color: #6F6;
	}

header p {
	font-size: 0.9em;
	margin: 0;
	padding: 0;
	}
	
header section {
	margin-bottom: 2.0em;
	}

article h2.entry-title + p,
article h2.entry-title + p a {
	color: #AAA;
	font-size: 0.9em;
	margin-bottom: 1.5em;
	}

#content {
	float: left;
	margin: 0;
	width: 540px;
	}

#content article {
	border-bottom: 1px solid #AAA;
	margin: 0 0 2.0em 0;
	padding: 0 0 1.0em 0;
	}

#respond {
	margin-bottom: 2em;
	}

article img {
	display: block;
	height: auto;
	margin: 2.0em 0;
	max-width: 100%;
	}

article .alignleft {
	margin: 0 1.0em 1.0em 0;
	}

article .alignright {
	margin: 0 0 1.0em 1.0em;
	}

aside {
	float: right;
	margin: 0;
	width: 300px;
	}

aside ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-indent: 0;
	}

aside ul li {
	list-style: none;
	margin: 0 0 1.5em;
	}

aside ul li form,
aside ul li ul {
	margin: 0 0 2.0em 0;
	}

aside ul li ul li {
	margin: 0;
	}

aside ul li ul li ul {
	margin: 0 0 0 1.0em;
	}

aside h2 {
	color: #CCC;
	font-family: 'Lucida Grande', Helvetica, Arial, serif;
	font-size: 1.0em;
	font-weight: bold;
	margin: 0;
	}

nav {
	border-bottom: 1px solid #AAA;
    border-top: 1px solid #AAA;
    margin: 2.0em 0 2.0em 0;
    padding: 1.0em 0 1.0em 0;
	}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-indent: 0;
	}

nav ul li {
	display: inline-block;
	list-style: none;
	padding-right: 0.5em;
	}

footer {
	border-top: 1px solid #AAA;
	clear: both;
	font-size: 0.7em;
	line-height: 1.7;
	padding: 2em 0;
	}
	
footer ul {
	list-style: none;
	margin: 0 0 1.0em 0;
	padding: 0;
	text-indent: 0;
	}

footer ul li {
	list-style: none;
	margin: 0;
	}


/*
	Pagination Styles
*/

a[rel="next"],
a[rel="prev"] {
	border: 1px solid #AAA;
	border-radius: 0.5em;
	cursor: pointer;
	font-size: 0.8em;
	padding: 0.6em 1.0em;
	text-decoration: none;
	}

a[rel="next"]:hover,
a[rel="prev"]:hover {
	border-color: #EEE;
	}

a[rel="next"]::after {
	content: ' »';
	font-size: 1.2em;
	}

a[rel="prev"]::before {
	content: '« ';
	font-size: 1.2em;
	}

a[rel="prev"] {
	float: left;
	}

a[rel="next"] {
	float: right;
	}


/*
	Post Format Styles
*/

.post-aside p + p {
	display: none;
	}

.post-quote h2,
.post-quote h2 + p {
	display: none;
	}

.post-quote blockquote {
	margin: 0 0 5%;
	padding: 5%;
	}

.post-quote blockquote p {
	font: normal 1.4em/1.4 georgia,times,serif;
	margin: 0 0 0.2em;
	}
	
.post-quote p cite {
	display: block;
	font: bold 60% sans-serif;
	text-align: right;
	}
	
.post-quote blockquote + p,
.post-quote blockquote + p + p,
.post-quote blockquote + p + ul,
.post-quote blockquote + p + ul + p,
.post-quote blockquote + p + p + ul {
	display: none;
	}


/*
	Gallery Styles
*/

.gallery {
	float: right;
	}

.gallery dl {
	display: inline;
	float: left;
	margin-left: 0;
	}

.gallery dd,
.gallery dt {
	margin-left: 0;
	}

.thumbnail dl {
	width: 150px;
	}

.medium dl {
	width: 300px;
	}


/*
	List Format Styles
*/

.summary {
	display: none;
	}



/*
	iPad Styles
*/

@media screen and (max-device-width: 1024px), screen and (max-width: 1024px) {
	body {
		-webkit-text-size-adjust: 100%;
		padding: 1.0em;
		}
	
	header,
	footer {
		float: none;
		width: auto;
		}

	#content {
		float: left;
		width: 55%;
		}

	aside {
		float: right;
		width: 35%;
		}
	
	#content article img {
		float: none;
		}
	
	textarea {
		max-width: 100%;
		}
}
	
	
/*
	Small Screen Styles
*/

@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 800px) {

	body {
		-webkit-text-size-adjust: 100%;
		padding: 1.0em;
		}
	
	header,
	#content,
	aside,
	footer {
		float: none;
		width: 95%;
		}
	
	header {
		border-bottom: 1px solid #AAA;
		margin: 0 0 1.0em 0;
		padding: 0 0 1.0em 0;
		}

	aside {
		padding: 0;
		}

	aside ul li form,
	aside ul li ul {
		margin: 0 0 1.0em 0;
		}

	footer {
		padding: 1.0em 0;
		}

	h1 {
		font-size: 2.0em;
		}

	h2 {
		font-size: 1.5em;
		}

	#content article {
		margin: 0 0 1.0em 0;
		padding: 0 0 0.5em 0;
		}
		
	#content article img {
		float: none;
		}
	
	textarea {
		max-width: 100%;
		}

}
